<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="TELINSO - Technology Leveraged Innovation for Soil Health">
    <meta name="description" content="TELINSO is an IoT-based solution providing comprehensive soil health data and customized recommendations to optimize crop productivity and soil quality.">
    <meta name="keywords" content="TELINSO, soil health, IoT, agriculture, soil analysis, crop productivity, sustainable farming">
    <meta name="author" content="Team TELINSO">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <title>TELINSO</title>
    
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/navbar.css">
    <script src="/navbar.js" defer></script>
    <link rel="stylesheet" href="/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <section class="header">
        <div class="container">
            <nav>
                <a href="/" class="logo"><img src="/logo.png" alt="TELINSO Logo"></a>
                <i class="fa-solid fa-bars fas" onclick="openmenu()"></i>
                <div class="navbtn">
                    <a href="/" class="hero-btn2 heronew"> Home </a>
                    <a href="/product" class="hero-btn2 heronew"> Product </a>
                    <a href="/about" class="hero-btn2 heronew"> About </a>
                    <a href="/contact" class="hero-btn2 heronew"> Contact </a>
                    <a href="/subscription" class="hero-btn2 heronew"> Subscription </a>
                    <a href="/login" class="hero-btn2"><i class="fa-solid fa-user"></i>Login</a>
                </div>
                <ul id="sidemenu">
                    <li><a style="background: whitesmoke;border-radius: 5px;padding: 5px;" onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>
                    <p>General</p>
                    <li><a href="/start"><i class="fa-solid fa-user-plus"></i>Get started</a></li>
                    <li><a href="#"><i class="fa-solid fa-arrow-up-from-bracket"></i> Store data</a></li>
                    <li><a href="#"><i class="fa-solid fa-chart-simple"></i> Soil analysis</a></li>
                    <li><a href="#"><i class="fa-solid fa-fan"></i> Farmer assist</a></li>
                    <li><a href="#"><i class="fa-solid fa-bolt"></i> Weather forecast</a></li>
                    <li><a href="#"><i class="fa-solid fa-file-waveform"></i> Soil archives</a></li>
                    <li><a href="#"><i class="fa-solid fa-wheat-awn"></i> Crop selection</a></li>
                    <li><a href="#"><i class="fa-solid fa-seedling"></i> Crop health</a></li>
                    <p>Support</p>
                    <li><a href="tel:+919447140767"><i class="fa-solid fa-headset"></i> Help</a></li>
                    <li><a href="mailto:gokuljithk@gmail.com"><i class="fa-solid fa-circle-info"></i> Feedback</a></li>
                    <li><a href="/login" class="login-home"><i class="fa-solid fa-right-from-bracket"></i>Login</a></li>
                    <p style="text-align: center;">Terms of Use | Privacy Policy</p>
                </ul>
            </nav>
            <div class="text-box">
                <h1>TELINSO</h1>
                <h4>TECHNOLOGY LEVERAGED INNOVATION FOR SOIL HEALTH</h4>
                <p>“We live in a smart world where technological trends and advancement are making life easier for everyone”</p>
                <a href="/start" class="hero-btn">Get started</a>
            </div>
        </div>
    </section>
    <section class="vision">
        <div class="row">
            <div class="vision-col">
                <img src="/digital-asset-management(1).png" alt="Empowerment">
                <p>Enables individuals or groups to take control of their lives, make choices, and achieve their objectives.</p>
            </div>
            <div class="vision-col">
                <img src="/internet-of-things.png" alt="Innovation">
                <p>Innovation implies a commitment to finding creative and effective solutions to challenges, which fosters progress and growth.</p>
            </div>
            <div class="vision-col">
                <img src="/ai.png" alt="Possibilities">
                <p>Enabling individuals to explore new avenues and envision different futures by providing a catalyst for exploring and realizing various positive outcomes.</p>
            </div>
        </div>
    </section>
    <section class="overview">
        <div class="row">
            <div class="overview-col">
                <h1>OVERVIEW</h1>
                <p>
                    Soil health and crop productivity are crucial factors in agriculture, playing a pivotal role in maintaining a sustainable environment. The primary cause of soil degradation is the excessive use of fertilizers. Therefore, it is essential to conduct soil testing before initiating agriculture. Soil testing holds significance for various reasons: optimizing crop production, improving the nutritional balance of the growing media, and saving money and energy by applying only the necessary amount of fertilizer. Our solution is designed to assist farmers comprehensively, including monitoring soil conditions and nutrients. Data collected from the monitoring system will be stored on a cloud server for analysis. The primary objective is to keep track of nutrient levels in the soil. Having knowledge of their soil before commencing farming will aid farmers in precise cultivation planning.
                </p>
            </div>
        </div>
        <a href="/login" class="overview-btn">Explore now</a>
    </section>
    <section class="feature">
        <div class="row">
            <div class="feature-col">
                <i class="fa-solid fa-chart-simple"></i>
                <h3>Data Analytics</h3>
                <p>Unlock Power of data</p>
            </div>
            <div class="feature-col">
                <i class="fa-solid fa-cloud"></i>
                <h3>Cloud computing</h3>
                <p>Computing without limits</p>
            </div>
            <div class="feature-col">
                <i class="fa-brands fa-connectdevelop"></i>
                <h3>Internet of things</h3>
                <p>Connect everything, everywhere</p>
            </div>
            <div class="feature-col">
                <i class="fa-solid fa-robot"></i>
                <h3>Artificial intelligence</h3>
                <p>intelligence beyond imagination</p>
            </div>
        </div>
    </section>
    <section id="about" class="about">
        <div class="row">
            <div class="about-col1">
                <img src="/IMG-2977(1).JPG" alt="About Image">
            </div>
            <div class="about-col2">
                <h1>Revolutionize Agriculture With Telinso</h1>
                <p>
                    Our proposed solution will help the farmer in all aspects, including monitoring nutrients and soil conditions. The data obtained from the monitoring system will be archived on a cloud server for evaluation. The main goal is to keep track of the level of nutrients in the soil. Farmers will be able to accurately plan cultivation by knowing their soil before starting farming. The sensor data has been incorporated into our website. The soil analysis feature on our website allows for the display of results for various parameters and the visualization of the analyzed data. The forecasting section is where they will receive personalized recommendations based on soil analysis. This website was developed as part of the prestigious Smart India Hackathon 2022 competition.
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="footer-col">
                <h3>Contact Us</h3>
                <p><i class="fa-solid fa-phone"></i> +91 9447140767</p>
                <p><i class="fa-solid fa-envelope"></i> gokuljithk@gmail.com</p>
                <p><i class="fa-solid fa-location-dot"></i> Your Address Here</p>
            </div>
            <div class="footer-col">
                <h3>Follow Us</h3>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="footer-col">
                <h3>About</h3>
                <p><a href="/about">Our Story</a></p>
                <p><a href="/team">Our Team</a></p>
                <p><a href="/contact">Contact</a></p>
            </div>
        </div>
        <p>&copy; 2024 TELINSO. All Rights Reserved.</p>
    </footer>
</body>
</html>
