@media(max-width:800px){
*{
  margin: 0;
  padding: 0;
}
    nav ul{
    display: block;
  }
  
  nav .fa-solid{
    display: block;
    font-size: 25px;
    margin: 30px;  
    padding-left: 80%; 
    color: black;
    z-index: 1;
    cursor: pointer;
  }
  nav .fa-times{
  display: block;
  font-size: 25px;
  margin: 20px;  
  color: white;
  z-index: 2;
  cursor: pointer;
  }
  nav .hero-btn2{
  display: none;
  }
  
  nav ul li{
  display: block;
  margin: 15px 10px;
  padding: 5px;
  font-size: 10px;
  
  }
  nav{
    width: 100%;

  }
  .update-btn{
    display: flex;
    justify-content: space-between;
  }
  nav .update-btn a{
    margin-top: 20px;
    padding: 10px;
    margin-right: 10px;
    color: rgb(59, 57, 57);
    text-align: left;
    background: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 5px;
  }
  nav ul{
  background:white;
  position: fixed;
  top: 0;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-top: 10px;
  z-index: 2;
  transition: right 0.5s;
  cursor: pointer;
  text-align: left;
  
  }
  #sidemenu{
  z-index: 500;
  margin-left: 0px;
  padding: 0px;
  }
  nav #sidemenu .fa-solid{
  margin: 3px;
  }
  #sidemenu li i{
  color: rgb(59, 57, 57); 
  display: inline;
  padding-left: 0;
  padding: 5px;
  font-size: 18px;
  }
  #sidemenu hr{
  color: rgb(59, 57, 57);
  height: 0.5px;
  }
  #sidemenu p{
  margin-top: 20px;
  padding: 10px;
  color: rgb(59, 57, 57);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  }
  .loginpage{
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-evenly;
  }
  #sidemenu .login{
  background-color: rgba(246, 97, 97, 0.074);
  border: 1px solid red;
  color: red;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  text-align: left;
  display: block;
  font-weight: 400;
  }
  #sidemenu .join{
  background:#1d1233;
  color: white;
  }
  
  nav ul li a{
     color: rgb(59, 57, 57);
     font-weight: 600;
     font-size: 15px;
     font-family: 'Montserrat', sans-serif;
     text-decoration: none;
    
  }
  
  nav ul li a:hover::after{
  
  width: 0%;
  
  }
  nav ul li :hover{
  
  color: black;
  
  }
  nav ul .fas{
    position: absolute;
    top: 25px;
    padding: 20px;
    left: 300px;
    cursor: pointer;
    color: white;
  }
  nav form input{
       
       
        
    width: 92%;
    height: 40px;
    font-size: 15px;
    padding: 20px;
    margin: 8px 15px ;
    border: 2px solid #482b7c;
    border-radius: 10px;
    
}



nav form .btn1{
    padding: 15px;
    margin: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: system-ui;
    width: 92%;
    border-radius: 10px;
   
}
nav .btn1:hover{
    background: black;
    color: white;
    
  }
  nav  form .btn2{
    padding: 10px ;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    font-family: system-ui;
    width: 92%;
    background: #482b7c;
    color: white;
    border-radius: 10px;
    margin: 15px;
   
}
  
}